/*reset*/
body, h1, h2, h3, h4, h5, h6, p,
ul, ol, dl, dd, th, td,
form, input, button, textarea, pre {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, i, em {
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
}
input, button, textarea, img {
	display: block;
	border: none;
	outline: none;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
/*移动端reset*/
body, input, button, textarea {
	font: 12px/1 Helvetica;
}
a, button, input, textarea {
	-webkit-tap-highlight-color: transparent;
}
input {
	-webkit-appearance: none;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
}
input::-webkit-input-speech-button {
	display: none;
}
/*reset end*/

body {margin:0 auto; width: 6.4rem;}
div {margin: .6rem;}
dl {margin-bottom: .2rem;}
p {line-height: .6rem; font-size: .3rem; font-weight: bold;}
dt {margin-bottom: .1rem; font-size: .22rem;}
dd { width: 1.5rem; text-align: center; color: #FFF; border: #f8a624 solid 1px; background-color: #f8a624;}
[data-dpr= "2"] dd {border-width: 2px;}
[data-dpr= "3"] dd {border-width: 3px;}

.lh {
	line-height: .46rem;
}

.pd {
	padding: .1rem 0;
}

.tc {
	display: table-cell;
	height: .46rem;
	vertical-align: middle;
}

.bt button {
	width: 100%;
	line-height: .46rem;
	color: #FFF;
	background-color: transparent;
}

.fx {
	height: .46rem;
	display: flex;
	justify-content:center;
	align-items:center;
}

.ma_rem,
.ma_px {
	position: relative;
	height: .46rem;
}
.ma_rem span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: .24rem;
}
.ma_px span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 14px;
}
[data-dpr= "2"] .ma_px span {
	height: 28px;
}
[data-dpr= "3"] .ma_px span {
	height: 42px;
}

.transform_rem dd,
.transform_px dd {
	height: .46rem;
}
.transform_rem dd span,
.transform_px dd span {
	display: block;
	width: 6rem;
	line-height: 1.84rem;
	transform: scale(.25);  /*transform缩放，不改变元素本来占据的空间大小，所以这里对嵌套的层进行缩放*/
	transform-origin: 0 0; /*transform默认居中缩放，改变缩放原点*/
}
.fs_rem .transform_rem dd span {
	font-size: .96rem;
}
.fs_px .transform_px dd span {
	font-size: 56px;
}
[data-dpr= "2"] .fs_px .transform_px dd span {
	font-size: 112px;
}
[data-dpr= "3"] .fs_px .transform_px dd span {
	font-size: 168px;
}

.zoom_rem dd,
.zoom_px dd {
	/*相对于左上角缩放，并且改变元素占据空间*/
	zoom: 0.5;  /*宽高只对px单位生效，这里只缩放了文本*/
	line-height: .46rem;
}
.fs_rem .zoom_rem dd {
	font-size: .48rem;
}
.fs_px .zoom_px dd {
	font-size: 28px;
}
[data-dpr= "2"] .fs_px .zoom_px dd {
	font-size: 56px;
}
[data-dpr= "3"] .fs_px .zoom_px dd {
	font-size: 84px;
}


.fs_rem dd,
.fs_rem .bt button {
	font-size: .24rem;
}
.fs_px dd,
.fs_px .bt button {
	font-size: 14px;
}
[data-dpr= "2"] .fs_px dd,
[data-dpr= "2"] .fs_px .bt button,
[data-dpr= "2"] .ma_px span {
	font-size: 28px;
}
[data-dpr= "3"] .fs_px dd,
[data-dpr= "3"] .fs_px .bt button,
[data-dpr= "3"] .ma_px span {
	font-size: 42px;
}


