/*首页*/
.index {
	background-color: #f5f5fa;
}

/*公共部分*/
.index-container {
	background-color: #FFF;
}
.index-public-tit {
	line-height: 1.06rem;
	font-size: .3rem;
	font-weight: bold;
	text-indent: .73rem;
	letter-spacing: .02rem;
	color: #e2003b;
}
.index-public-tit i {
	position: absolute;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
}
.index-book-four li {
	float: left;
	width: 1.875rem;
}
.index-book-ten {
	width: 7.5rem;
	overflow-x: scroll;
}
.index-book-ten ul {
	padding: 0 .15rem;
	width: 17rem;
}
.index-book-ten ul li {
	float: left;
	width: 1.7rem;
}
.index-book-four li a,
.index-book-ten ul li a {
	display: block;
}
.index-book-four li a img,
.index-book-ten ul li a img {
	margin: 0 auto;
	width: 1.4rem;
	height: 2rem;
	border-radius: .06rem;
	box-shadow: .02rem .03rem .2rem #DDD;
}
.index-book-four li a p,
.index-book-ten ul li a p {
	margin: .15rem auto 0 auto;
	width: 1.5rem;
	line-height: .3rem;
	font-size: .24rem;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: .6rem;
	overflow: hidden;
}
/*END*/

/*顶部红条*/
.index-head {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 7.5rem;
	height: .92rem;
	line-height: .92rem;
	font-size: .26rem;
	color: #FFF;
	background: #f33558;
	background: linear-gradient(#fe4459, #d80e55);
}
.index-head-usre {
	float: left;
	width: 3.1rem;
	height: .92rem;
	text-indent: .85rem;
}
.index-head-usre img {
	position: absolute;
	margin: .24rem 0 0 .3rem;
	width: .44rem;
	height: .44rem;
	border-radius: 50%;
}
.index-head-bookmarks {
	float: right;
	height: .92rem;
	padding: 0 .32rem 0 .64rem;
}
.index-head-bookmarks i {
	position: absolute;
	margin: .26rem 0 0 -.42rem;
	width: .33rem;
	height: .38rem;
	background: url(icons/head-bookmarks.png) left top no-repeat;
	background-size: contain;
}
/*END*/

/*轮播海报*/
.index-banner {
	margin: .92rem 0 .2rem 0;
	padding: .3rem 0;
}
/*END*/

/*重磅精品*/
.index-excellent {
	margin-bottom: .2rem;
}
.index-excellent .index-public-tit i {
	margin: .35rem 0 0 -.36rem;
	width: .3rem;
	height: .33rem;
	background-image: url(icons/index-excellent.png);
}
.index-excellent-titchange {
	float: right;
	padding: 0 .3rem 0 .5rem;
	font-size: .28rem;
	font-weight: none;
	text-indent: 0;
	color: #c0a16a;
}
.index-excellent-titchange em {
	position: absolute;
	margin: .39rem 0 0 -.36rem;
	width: .29rem;
	height: .25rem;
	background: url(icons/index-excellent-titchange.png) left top no-repeat;
	background-size: contain;
}
.index-excellent .index-book-four {
	padding-bottom: .75rem;
}
/*END*/

/*排行榜*/
.index-leaderboard {
	margin-bottom: .2rem;
	height: 5.5rem;
}
.index-leaderboard .index-public-tit i {
	margin: .39rem 0 0 -.38rem;
	width: .28rem;
	height: .27rem;
	background-image: url(icons/index-leaderboard.png);
}
.index-leaderboard-switch-wrap {
	margin: 0 auto;
	width: 6.84rem;
	height: .63rem;
	border: #dadae0 solid .02rem;
	border-radius: .4rem;
}
.index-leaderboard-switch {
	position: absolute;
	margin: -.02rem 0 0 -.02rem;
}
.index-leaderboard-switch li {
	float: left;
	margin-right: .56rem;
	width: 1.92rem;
	line-height: .67rem;
	font-size: .28rem;
	text-align: center;
	color: #333;
	border-radius: .4rem;
}
.index-leaderboard-switch li:last-child {
	margin-right: 0;
}
.index-leaderboard-switch .selected {
	color: #D60C55;
	background-color: #fee9ef;
}
.index-leaderboard-switch li .index-book-ten {
	display: none;
	position: absolute;
	margin-top: .28rem;
}
.index-leaderboard-switch li:nth-child(1) .index-book-ten {
	margin-left: -.31rem;
}
.index-leaderboard-switch li:nth-child(2) .index-book-ten {
	margin-left: -2.79rem;
}
.index-leaderboard-switch li:nth-child(3) .index-book-ten {
	margin-left: -5.27rem;
}
.index-leaderboard-switch li .index-book-ten li {
	margin-right: 0;
	text-align: left;
}
.index-leaderboard-switch .selected .index-book-ten {
	display: block;
}
.index-leaderboard-switch li .index-book-ten li:nth-child(1):before,
.index-leaderboard-switch li .index-book-ten li:nth-child(2):before,
.index-leaderboard-switch li .index-book-ten li:nth-child(3):before {
	content: "";
	position: absolute;
	margin: .04rem 0 0 .25rem;
	width: .26rem;
	height: .32rem;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
}
.index-leaderboard-switch li .index-book-ten li:nth-child(1):before {
	background-image: url(icons/rank/rank-1.png);
}
.index-leaderboard-switch li .index-book-ten li:nth-child(2):before {
	background-image: url(icons/rank/rank-2.png);
}
.index-leaderboard-switch li .index-book-ten li:nth-child(3):before {
	background-image: url(icons/rank/rank-3.png);
}
/*END*/

/*新书推荐*/
.index-newbook {
	margin-bottom: .2rem;
}
.index-newbook .index-public-tit i {
	margin: .35rem 0 0 -.38rem;
	width: .27rem;
	height: .33rem;
	background-image: url(icons/index-newbook.png);
}
.index-newbook-cont {
	padding: 0 .3rem;
}
.index-newbook-cont li {
	padding: .36rem 0 .38rem 0;
	height: 2rem;
	border-bottom: #dfdfdf solid .02rem;
}
.index-newbook-cont li:first-child {
	padding-top: 0;
}
.index-newbook-cont li:last-child {
	border-bottom: none;
}
.index-newbook-cont li a {
	display: block;
}
.index-newbook-cont li a img {
	position: absolute;
	width: 1.4rem;
	height: 2rem;
	border-radius: .06rem;
	box-shadow: .02rem .03rem .2rem #DDD;
}
.index-newbook-cont-info {
	margin-left: 1.7rem;
}
.index-newbook-cont-info-tit {
	margin-bottom: .08rem;
	line-height: .44rem;
	font-size: .28rem;
	font-weight: bold;
	color: #666;
}
.index-newbook-cont-info-int {
	margin-bottom: .05rem;
	max-height: 100%;
	line-height: .44rem;
	font-size: 14px;
	color: #999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: .88rem;
	overflow: hidden;
}
[data-dpr= "2"] .index-newbook-cont-info-int {
	font-size: 28px;
}
[data-dpr= "3"] .index-newbook-cont-info-int {
	font-size: 42px;
}
@media screen and (min-width: 750px) {
	.index-newbook-cont-info-int {font-size: 16px;}
}
.index-newbook-cont-info-class {
	line-height: .55rem;
	font-size: .28rem;
	text-indent: .33rem;
	color: #999;
}
.index-newbook-cont-info-class i {
	position: absolute;
	margin: .17rem 0 0 -.31rem;
	width: .27rem;
	height: .24rem;
	background: url(icons/index-newbook-cont-info-class.png) left top no-repeat;
	background-size: contain;
}
.index-newbook-cont-info-class em {
	display: none;
	float: right;
	margin: .05rem .08rem 0 0;
	padding: 0 .1rem;
	line-height: .28rem;
	font-size: .22rem;
	text-indent: 0;
	border: solid .02rem;
	border-radius: .04rem;
}
.index-newbook-cont-info-class .continued {
	color: #0cc4a8;
	border-color: #0cc4a8;
}
.index-newbook-cont-info-class .end {
	color: #ffca28;
	border-color: #ffca28;
}
.index-newbook-cont-info .continued-show .continued,
.index-newbook-cont-info .end-show .end {
	display: block;
}
/*END*/

/*限时免费*/
.index-free {
	margin-bottom: .2rem;
	padding-bottom: .72rem;
}
.index-free .index-public-tit i {
	margin: .37rem 0 0 -.39rem;
	width: .32rem;
	height: .33rem;
	background-image: url(icons/index-free.png);
}
.index-free-countdown {
	float: right;
	margin-right: .3rem;
	font-size: .22rem;
	font-weight: normal;
	color: #666;
}
.index-free-countdown span {
	margin: 0 .16rem;
	font-weight: bold;
	color: #e70031;
}
/*END*/

/*更多推荐*/
.index-more {
	margin-bottom: 1rem;
	padding-bottom: .75rem;
}
.index-more .index-public-tit i {
	margin: .38rem 0 0 -.38rem;
	width: .27rem;
	height: .33rem;
	background-image: url(icons/index-more.png);
}
/*END*/

/*单行文本超出省略*/
.index-head-usre p,
.index-newbook-cont-info-tit {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
