/*我的*/
.mine {
	margin-bottom: 1.6rem;
	background-color: #efeff4;
}
.mine-user {
	position: relative;
	padding: .68rem 0 0 2.03rem;
	height: 2.52rem;
	background: #f33558;
	background: linear-gradient(#ff455d, #e1247b);
}
.mine-user:before,
.mine-user:after {
	content: "";
	display: block;
	position: absolute;
	background-color: rgba(255, 180, 0, .1);
	border-radius: 50%;
}
.mine-user:before {
	top: -.56rem;
	right: .1rem;
	width: 1.76rem;
	height: 1.76rem;
}
.mine-user:after {
	top: .33rem;
	right: 1.62rem;
	width: .5rem;
	height: .5rem;
}
.mine-user-avatar {
	position: absolute;
	margin: -.15rem 0 0 -1.64rem;
	width: 1.31rem;
	height: 1.31rem;
	background-color: #FFF;
	border-radius: 50%;
}
.mine-user img {
	margin: .04rem auto 0 auto;
	width: 1.23rem;
	height: 1.23rem;
	border-radius: 50%;
}
.mine-user-name {
	width: 2.5rem;
	line-height: .56rem;
	font-size: .3rem;
	color: #FFF;
}
.mine-user-name:before {
	content: "";
	display: block;
	position: absolute;
	margin: .13rem 0 0 2.6rem;
	width: .3rem;
	height: .3rem;
	background: url(icons/mine-user-name-modify.png) left top no-repeat;
	background-size: contain;
}
.mine-user-id {
	line-height: .56rem;
	font-size: .26rem;
	color: #ffffd3;
}
.mine-info {
	position: relative;
	margin: -.85rem auto 0 auto;
	width: 6.9rem;
	height: 2.8rem;
	background-color: #FFF;
	border-radius: .12rem;
}
.mine-info-property:before {
	content: "";
	display: block;
	position: absolute;
	margin: .3rem 0 0 3.44rem;
	width: .02rem;
	height: .54rem;
	background-color: #e7e7e7;
}
.mine-info-property p {
	float: left;
	width: 3.45rem;
	line-height: 1.12rem;
	font-size: .32rem;
	text-align: center;
	color: #333;
}
.mine-info-property p span {
	font-weight: bold;
	color: #ffc71a;
}
.mine-info-record {
	margin: .03rem auto 0 auto;
	width: 5.175rem;
}
.mine-info-record li {
	float: left;
	width: 1.725rem;
}
.mine-info-record li a {
	display: block;
	padding-bottom: .1rem;
}
.mine-info-record li a i {
	display: block;
	margin: 0 auto;
	width: .8rem;
	height: .8rem;
	background-color: #fdf3f6;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.mine-info-record li a p {
	text-align: center;
	line-height: .4rem;
	font-size: .26rem;
}
.mine-info-record-yd a i {
	background-size: .34rem .33rem;
	background-image: url(icons/mine-info-record-yd.png);
}
.mine-info-record-cz a i {
	background-size: .39rem .38rem;
	background-image: url(icons/mine-info-record-cz.png);
}
.mine-info-record-xf a i {
	background-size: .32rem .35rem;
	background-image: url(icons/mine-info-record-xf.png);
}
.mine-list {
	margin: .2rem auto 0 auto;
	padding: 0 .3rem;
	width: 6.3rem;
	background-color: #FFF;
	border-radius: .12rem;
}
.mine-list li {
	height: 1rem;
	border-bottom: #ededed solid .02rem;
}
.mine-list li:last-child {
	border-bottom: none;
}
.mine-list li a {
	display: block;
	line-height: 1rem;
	font-size: .28rem;
	text-indent: .55rem;
	color: #000;
}
.mine-list li a i,
.mine-list li a em {
	position: absolute;
	display: block;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
}
.mine-list li a i {
	margin-left: .08rem;
}
.mine-list-fl a i {
	margin-top: .36rem;
	width: .28rem;
	height: .28rem;
	background-image: url(icons/mine-list-fl.png);
}
.mine-list-bz a i {
	margin-top: .37rem;
	width: .27rem;
	height: .27rem;
	background-image: url(icons/mine-list-bz.png);
}
.mine-list-tc a i {
	margin-top: .35rem;
	width: .31rem;
	height: .32rem;
	background-image: url(icons/mine-list-tc.png);
}
.mine-list li a em {
	margin: .39rem 0 0 6.1rem;
	width: .12rem;
	height: .22rem;
	background-image: url(icons/mine-list-em.png);
}
.mine-renamed {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 7.5rem;
	background-color: rgba(0, 0, 0, .7);
}
.mine-renamed-cont {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 6.1rem;
	height: 3.5rem;
	background-color: #FFF;
	border-radius: .18rem;
}
.mine-renamed-input {
	margin: 1rem auto 0 auto;
	padding: 0 .1rem;
	width: 4.56rem;
	height: .66rem;
	line-height: .66rem;
	font-size: .26rem;
	color: #333;
	border: #d4d4d4 solid .02rem;
	border-radius: .03rem;
}
.mine-renamed-tips {
	display: none;
	line-height: 3;
	font-size: .24rem;
	text-align: center;
	color: #f30000;
}
.mine-renamed-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: #efefef solid .02rem;
}
.mine-renamed-btn button {
	float: left;
	width: 50%;
	height: .9rem;
	font-size: .28rem;
	background-color: transparent;
}
.mine-renamed-btn button:nth-child(1) {
	color: #888;
}
.mine-renamed-btn button:nth-child(2) {
	color: #ce0035;
}
/*END*/

/*最近阅读、我的收藏*/
.mine-record-tit {
	height: 1.18rem;
	box-shadow: 0 0.03rem 0.2rem #DDD;
}
.mine-record-tit:before {
	content: "";
	display: block;
	position: absolute;
	margin: .32rem 0 0 3.74rem;
	width: .02rem;
	height: .46rem;
	background-color: #e3e3e3;
}
.mine-record-tit p {
	float: left;
	width: 50%;
	line-height: 1.16rem;
	font-size: .28rem;
	text-align: center;
	color: #333;
	border-bottom: transparent solid .02rem;
}
.mine-read .mine-read-tit,
.mine-collection .mine-collection-tit {
	color: #ce0035;
	border-bottom-color: #ce0035;
}
.mine-read .mine-collection-book,
.mine-collection .mine-read-book {
	display: none;
}
.mine-record-book {
	margin: 0 .3rem 1.3rem .3rem;
}
.mine-record-book li {
	padding: .32rem 0;
	height: 2rem;
	border-bottom: #e5e5e5 solid .02rem;
}
.mine-record-book li:last-child {
	border-bottom: none;
}
.mine-record-book li a {
	display: block;
}
.mine-record-book li a img {
	position: absolute;
	width: 1.4rem;
	height: 2rem;
	border-radius: .06rem;
	box-shadow: 0.02rem 0.03rem 0.2rem #DDD;
}
.mine-record-book-info {
	margin-left: 1.7rem;
}
.mine-record-book-info-tit {
	line-height: .58rem;
	font-size: .28rem;
	color: #333;
}
.mine-record-book-info-sub {
	line-height: .56rem;
	font-size: .28rem;
	text-indent: .4rem;
	color: #999;
}
.mine-record-book-info-sub:before {
	content: "";
	display: block;
	position: absolute;
	margin-top: .16rem;
	width: .27rem;
	height: .24rem;
	background: url(icons/index-newbook-cont-info-class.png) left top no-repeat;
	background-size: contain;
}
.mine-record-book-info-tips {
	margin-top: .37rem;
}
.mine-record-book-info-tips em {
	float: right;
	margin-left: .16rem;
	line-height: .42rem;
	font-size: .24rem;
	border: solid .02rem;
	border-radius: .2rem;
}
.mine-record-book-info-tips .continue-reading {
	padding: 0 .2rem 0 .63rem;
	color: #00b897;
	border-color: #00b897;
}
.mine-record-book-info-tips .continue-reading:before {
	content: "";
	display: block;
	position: absolute;
	margin: .1rem 0 0 -.4rem;
	width: .28rem;
	height: .22rem;
	background: url(icons/continue-reading.png) left top no-repeat;
	background-size: contain;
}
.mine-record-book-info-tips .cancel-collection {
	padding: 0 .2rem;
	color: #ffbc00;
	border-color: #ffbc00;
}
/*END*/

/*充值记录*/
.mine-recharge {
	background-color: #efeff4;
}
.mine-recharge-record {
	margin: .3rem;
}
.mine-recharge-record li {
	margin-bottom: .32rem;
	height: 2.6rem;
	font-size: .28rem;
	text-align: center;
	background-color: #FFF;
	border-radius: .12rem;
}
.mine-recharge-record-tit {
	padding-top: .1rem;
	height: 1.06rem;
	border-bottom: #ececec solid .02rem;
}
.mine-recharge-record-tit p:nth-child(1) {
	line-height: .44rem;
	color: #333;
}
.mine-recharge-record-tit p:nth-child(2) {
	line-height: .4rem;
	color: #777;
}
.mine-recharge-record-info {
	padding: .24rem .29rem 0 .29rem;
}
.mine-recharge-record-info dl {
	float: left;
	width: 1.58rem;
	line-height: .42rem;
	color: #777;
}
.mine-recharge-record-info dl:nth-child(2) dd,
.mine-recharge-record-info dl:nth-child(3) dd {
	color: #ffbb00;
}
.mine-recharge-record-info dl:nth-child(4) dd {
	color: #ce0033;
}
/*END*/

/*打赏记录、书刊订阅*/
.mine-consumption-tit {
	margin: .86rem auto 0 auto;
	width: 6rem;
	border-radius: .5rem;
	background-color: #FFF;
	box-shadow: 0 .3rem .5rem #fcedf3;
}
.mine-consumption-tit:before {
	content: "";
	display: block;
	position: absolute;
	margin: .23rem 0 0 2.99rem;
	width: .02rem;
	height: .46rem;
	background-color: #e3e3e3;
}
.mine-consumption-tit p {
	float: left;
	width: 50%;
	line-height: .9rem;
	font-size: .28rem;
	text-align: center;
	color: #333;
}
.mine-reward .mine-reward-tit,
.mine-subscription .mine-subscription-tit {
	color: #d0003d;
}
.mine-reward .mine-reward-tit:before,
.mine-subscription .mine-subscription-tit:before {
	content: "";
	display: block;
	position: absolute;
	margin: .86rem 0 0 1.2rem;
	width: .6rem;
	height: .04rem;
	background-color: #d0003d;
}
.mine-reward .mine-subscription-list,
.mine-subscription .mine-reward-list {
	display: none;
}
.mine-consumption-list {
	margin: 0 .3rem 1.3rem .3rem;
}
.mine-consumption-list li {
	padding: .42rem 0;
	border-bottom: #eee solid .02rem;
}
.mine-consumption-list li:last-child {
	border-bottom: none;
}
.mine-consumption-list li a {
	display: block;
}
.mine-consumption-list-l {
	float: left;
	width: 4rem;
}
.mine-consumption-list-r {
	float: right;
	width: 2.9rem;
	text-align: right;
}
.mine-consumption-list li a p {
	line-height: .5rem;
	font-size: .28rem;
}
.mine-consumption-list-l p:nth-child(1) {
	color: #333;
}
.mine-consumption-list-l p:nth-child(2),
.mine-consumption-list-r p:nth-child(2) {
	color: #888;
}
.mine-consumption-list-r p:nth-child(1) {
	color: #ffb700;
}
.mine-reward-list .mine-consumption-list-l p {
	line-height: 1rem;
}
/*END*/

/*作家福利*/
.mine-writer-cont {
	margin: 0 .3rem .3rem .3rem;
}
.mine-writer-cont dl {
	margin-bottom: .3rem;
	padding: .3rem 0;
	max-height: 100%;
	border-bottom: #DDD solid .02rem;
}
.mine-writer-cont dl:last-child {
	border-bottom: none;
}
.mine-writer-cont dl dt {
	line-height: .6rem;
	font-size: .3rem;
	color: #000;
}
.mine-writer-cont dl dd {
	line-height: .45rem;
	font-size: .28rem;
	color: #333;
}
/*END*/

/*更多帮助*/
.mine-help-cont {
	line-height: 1rem;
	font-size: .4rem;
	font-weight: bold;
	text-align: center;
}
/*END*/

/*单行文本超出省略*/
.mine-user-name,
.mine-info-property p,
.mine-record-book-info-tit,
.mine-record-book-info-sub,
.mine-consumption-list-l p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*END*/
