/*排名*/

.rank-cont {
	margin: 0 .3rem;
	padding-bottom: 1.2rem;
}
.rank-cont li {
	padding: .38rem 0 .36rem 0;
	height: 2rem;
	border-bottom: #dfdfdf solid .02rem;
}
.rank-cont li:last-child {
	border-bottom: none;
}
.rank-cont li a {
	display: block;
}
.rank-cont li a img {
	position: absolute;
	width: 1.4rem;
	height: 2rem;
	border-radius: .06rem;
	box-shadow: .02rem .03rem .2rem #DDD;
}
.rank-cont-info {
	margin-left: 1.7rem;
}
.rank-cont-info-tit {
	line-height: .45rem;
	font-size: .28rem;
	font-weight: bold;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.rank-cont-info-category {
	margin-top: .08rem;
	line-height: .59rem;
	font-size: .28rem;
	text-indent: .4rem;
	color: #999;
}
.rank-cont-info-category:before {
	content: "";
	position: absolute;
	margin: .18rem 0 0 -.38rem;
	width: .27rem;
	height: .24rem;
	background: url(icons/index-newbook-cont-info-class.png) left top no-repeat;
	background-size: contain;
}
.rank-cont-info-int {
	max-height: 100%;
	line-height: .44rem;
	font-size: 14px;
	color: #666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: .88rem;
	overflow: hidden;
}
[data-dpr= "2"] .rank-cont-info-int {
	font-size: 28px;
}
[data-dpr= "3"] .rank-cont-info-int {
	font-size: 42px;
}
@media screen and (min-width: 750px) {
	.rank-cont-info-int {font-size: 16px;}
}
.rank-cont li:nth-child(-n+10) .rank-cont-info-tit {
	text-indent: .34rem;
}
.rank-cont li:nth-child(-n+10) .rank-cont-info-tit:before {
	content: "";
	display: block;
	position: absolute;
	margin-top: .05rem;
	width: .26rem;
	height: .32rem;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
}
.rank-cont li:nth-child(1) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-1.png);
}
.rank-cont li:nth-child(2) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-2.png);
}
.rank-cont li:nth-child(3) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-3.png);
}
.rank-cont li:nth-child(4) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-4.png);
}
.rank-cont li:nth-child(5) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-5.png);
}
.rank-cont li:nth-child(6) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-6.png);
}
.rank-cont li:nth-child(7) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-7.png);
}
.rank-cont li:nth-child(8) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-8.png);
}
.rank-cont li:nth-child(9) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-9.png);
}
.rank-cont li:nth-child(10) .rank-cont-info-tit:before {
	background-image: url(icons/rank/rank-10.png);
}
