/*充值中心*/
body {
	background-color: #efeff4;
}
.recharge-container {
	background-color: #FFF;
}

/*顶部余额*/
.recharge-head {
	position: relative;
	line-height: 1.16rem;
	font-size: .3rem;
	text-indent: 1.02rem;
	color: #333;
	letter-spacing: .01rem;
	box-shadow: 0 .03rem .2rem #DDD;
}
.recharge-head span {
	color: #b69253;
}
.recharge-head i {
	position: absolute;
	margin: .27rem 0 0 -.66rem;
	width: .42rem;
	height: .54rem;
	background: url(icons/recharge-head.png) left top no-repeat;
	background-size: contain;
}
/*END*/

/*充值模块*/
.recharge-cont {
	margin-bottom: .3rem;
	padding-bottom: .37rem;
}
.recharge-cont-price {
	padding: .31rem .21rem 0 .21rem;
}
.recharge-cont-price li {
	float: left;
	margin: .2rem .19rem 0 .19rem;
	width: 3.115rem;
	height: 1.95rem;
	font-size: .25rem;
	text-align: center;
	color: #000;
	border: #d0d0d0 solid .02rem;
	border-radius: .1rem;
	background-color: #fcfcfc;
}
.recharge-cont-price li p {
	margin: 0 auto;
	width: 2.55rem;
	line-height: .7rem;
	font-size: .32rem;
	border-bottom: #dadada dotted .02rem;
}
.recharge-cont-price li span {
	display: block;
	line-height: .5rem;
}
.recharge-cont-price li em {
	display: block;
	margin-top: .02rem;
	line-height: 1;
	color: #797979;
}
.recharge-cont-price li:first-child {
	width: 6.66rem;
	color: #b69252;
	background: #fcfcfc url(icons/recharge-cont-price-first.png) right bottom no-repeat;
	background-size: .9rem .95rem;
}
.recharge-cont-price li:first-child p {
	width: 6.4rem;
	text-indent: .4rem;
}
.recharge-cont-price li:first-child em {
	color: #b69252;
}
.recharge-cont-price li:first-child p:before {
	content: "";
	display: block;
	position: absolute;
	margin: .18rem 0 0 2.02rem;
	width: .37rem;
	height: .33rem;
	background: url(icons/recharge-cont-price-first-before.png) left top no-repeat;
	background-size: contain;
}
.recharge-cont-price li:nth-child(3) p:before {
	content: "";
	display: block;
	position: absolute;
	margin: .06rem 0 0 2.08rem;
	width: .58rem;
	height: .66rem;
	background: url(icons/library-search-tit.png) left top no-repeat;
	background-size: contain;
}
.recharge-cont-price .selected {
	color: #ce0036;
	background-color: #fff4f7;
	border-color: #ffa7bd;
	box-shadow: 0 0 .4rem #fee2ea;
}
.recharge-cont-price .selected p {
	border-bottom-color: #ffa7bd;
}
.recharge-cont-price .selected em {
	color: #ce0036;
}
.recharge-cont-price li:first-child[class="selected"] {
	color: #ce0036;
	background-color: #fff4f7;
}
.recharge-cont-price li:first-child[class="selected"] em {
	color: #ce0036;
}
.recharge-cont-price li:first-child[class="selected"] p:before {
	background-image: url(icons/recharge-cont-price-first-before-hover.png);
}
.recharge-cont-submit {
	margin: .35rem auto 0 auto;
	width: 6.9rem;
	height: .92rem;
	font-size: .32rem;
	color: #FFF;
	letter-spacing: .01rem;
	background: #f33558;
	background: linear-gradient(#fe4459, #d80e55);
	border-radius: .5rem;
}
.recharge-cont-statement {
	line-height: .76rem;
	font-size: .27rem;
	text-align: center;
	color: #818181;
}
.recharge-cont-statement input {
	position: relative;
	top: .04rem;
	display: inline-block;
	margin-right: .05rem;
	width: .28rem;
	height: .28rem;
}
.recharge-cont-statement span {
	color: #b59051;
	text-decoration: underline;
}
.recharge-cont-terms-wrap,
.recharge-cont-terms {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.recharge-cont-terms-wrap {
	display: none;
	z-index: 1;
	background-color: rgba(0, 0, 0, .7);
}
.recharge-cont-terms {
	margin: auto;
	width: 5.6rem;
	height: 5.6rem;
	background-color: #FFF;
	border-radius: .12rem;
}
.recharge-cont-terms-tit {
	margin-bottom: .02rem;
	line-height: 1.1rem;
	font-size: .38rem;
	font-weight: bold;
	text-align: center;
	color: #606060;
}
.recharge-cont-terms-cont {
	margin: 0 .42rem;
	line-height: .55rem;
	font-size: .26rem;
	color: #333;
	text-indent: 2em;
	letter-spacing: .02rem;
}
.recharge-cont-terms-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.05rem;
	font-size: .28rem;
	color: #cc002a;
	border-top: #d9d9d9 solid .02rem;
	background-color: transparent;
}
/*END*/

/*联系咨询*/
.recharge-advisory {
	padding: .5rem 0 1.85rem 0;
	font-size: .26rem;
	text-align: center;
	color: #707070;
}
.recharge-advisory:before {
	content: "";
	display: block;
	position: absolute;
	margin: .26rem 0 0 .6rem;
	width: 6.3rem;
	height: .02rem;
	background-color: #e3e3e3;
}
.recharge-advisory-tit,
.recharge-advisory-sub {
	line-height: .46rem;
}
.recharge-advisory-tit {
	position: relative;
	margin: 0 auto;
	width: 2.24rem;
	background-color: #FFF;
}
.recharge-advisory-way {
	margin: .58rem 0 0 .45rem;
}
.recharge-advisory-way li {
	float: left;
	width: 2.2rem;
}
.recharge-advisory-way li i {
	display: block;
	margin: 0 auto;
	width: 1.18rem;
	height: 1.18rem;
	border: #EEE solid .02rem;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
}
.recharge-advisory-way li:nth-child(1) i {
	background-image: url(icons/recharge-advisory-dh.png);
	background-size: .73rem .57rem;
}
.recharge-advisory-way li:nth-child(2) i {
	background-image: url(icons/recharge-advisory-wx.png);
	background-size: .74rem .71rem;
}
.recharge-advisory-way li:nth-child(3) i {
	background-image: url(icons/recharge-advisory-qq.png);
	background-size: .63rem .72rem;
}
.recharge-advisory-way li p {
	margin-top: .08rem;
	line-height: .34rem;
}
.recharge-advisory-way li span {
	display: block;
	line-height: .3rem;
	color: #333;
}
/*END*/
