/*所有以rem为单位的尺寸，基于设计稿640px宽度上，1:100测量*/

/*reset*/
body, h1, h2, h3, h4, h5, h6, p,
ul, ol, dl, dd, th, td,
form, input, button, textarea, pre {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, i, em {
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
}
input, button, textarea, img {
	display: block;
	border: none;
	outline: none;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
/*移动端reset*/
body, input, button, textarea {
	font: 12px/1 Helvetica;
}
a, button, input, textarea {
	-webkit-tap-highlight-color: transparent;
}
input {
	-webkit-appearance: none;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
}
input::-webkit-input-speech-button {
	display: none;
}
/*reset end*/
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*可重用组件*/
.page_bg {
	width: 100%;
	background-color: #f1f2f3;
}
.container30 {
	padding: 0 .3rem;
	background-color: #FFF;
}
.container20 {
	padding: 0 .2rem;
	background-color: #FFF;
}
.mb20 {
	margin-bottom: .2rem;
}
.pt19 {
	padding-top: .19rem;
}
.pt20 {
	padding-top: .2rem;
}
.pt60 {
	padding-top: .6rem;
}
.pb5 {
	padding-bottom: .05rem;
}
.pb10 {
	padding-bottom: .1rem;
}
.pb19 {
	padding-bottom: .19rem;
}
.pb26 {
	padding-bottom: .26rem;
}
.bb_f2 {
	border-bottom: #f2f4f5 solid 1px;
}
.bb_e8 {
	border-bottom: #e8eaeb solid 1px;
}
.book_int {
	display: block;
	padding: .3rem 0;
}
.book_int_icon {
	display: block;
	position: absolute;
	margin: .6rem 0 0 .38rem;
	width: .6rem;
	height: .6rem;
	background: url(icons/book_int_icon.png) no-repeat;
	background-size: contain;
}
.book_int_img {
	float: left;
	margin-right: .2rem;
	width: 1.36rem;
	height: 1.8rem;
	border-radius: .06rem;
	box-shadow: 0 .03rem .08rem #888;
}
.book_intinfo {
	float: left;
}
.book_int_info_tit {
	font-size: 18px;
	line-height: .54rem;
	color: #1f2021;
}
.book_int_info_author {
	font-size: 14px;
	line-height: .35rem;
	color: #808080;
}
.book_int_info_brief {
	height: .9rem;
	font-size: 14px;
	line-height: .31rem;
	color: #808080;
	border-top: transparent solid .06rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.book_int_hot {
	display: block;
	position: absolute;
	margin-left: -.01rem;
	width: .32rem;
	height: .32rem;
	text-align: center;
	line-height: .32rem;
	font-size: .2rem;
	color: #FFF;
	border-top-left-radius: .06rem;
	border-bottom-right-radius: .22rem;
}
.book_int_hot_one {
	background-color: #c8a960;
}
.book_int_hot_two {
	background-color: #9eaebe;
}
.book_int_hot_three {
	background-color: #e28c30;
}
.book_list_item {
	display: block;
	padding: .16rem 0 .23rem;
}
.book_list_item_icon {
	position: absolute;
	margin: .14rem 0 0 5.2rem;
	width: .6rem;
	height: .6rem;
	background: url(icons/book_list_item_icon.png) no-repeat;
	background-size: contain;
}
.book_list_item_tit {
	font-size: 18px;
	line-height: .5rem;
	color: #1f2021;
}
.book_list_item_brief {
	max-height: 100%;
	width: 5rem;
	font-size: 14px;
	line-height: .3rem;
	color: #808080;
}
.module_tit {
	display: block;
	font-size: 16px;
	line-height: .5rem;
	letter-spacing: .01rem;
	color: #1f2021;
}
.module_tit_icon_r,
.module_tit_icon_b {
	position: absolute;
	margin: .12rem 0 0 5.5rem;
	width: .28rem;
	height: .28rem;
}
.module_tit_icon_r {
	background: url(icons/module_tit_icon_r.png) no-repeat;
	background-size: contain;
}
.module_tit_icon_b {
	background: url(icons/module_tit_icon_b.png) no-repeat;
	background-size: contain;
}
.module_tit_remarks {
	display: inline-block;
	font-size: 14px;
	color: #808080;
}
.module_tit_close {
	position: absolute;
	margin: -.1rem 0 0 5.07rem;
	width: .19rem;
	height: .19rem;
	background: url(icons/module_tit_close.png) no-repeat;
	background-size: contain;
	border: transparent solid .3rem;
	border-left-width: .5rem;
}
.guess_like_wrap {
	width: 5.8rem;
	overflow: hidden;
}
.guess_like {
	width: 6.24rem;
}
.guess_like_item_wrap {
	float: left;
	margin-right: .44rem;
	width: 1.12rem;
}
.guess_like_item {
	display: block;
}
.guess_like_item_img{
	width: 1.12rem;
	height: 1.48rem;
	border-radius: .06rem;
	box-shadow: 0 .03rem .08rem #888;
}
.guess_like_item_name {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: .56rem;
	text-align: center;
	color: #1f2021;
}
.book_exhibition {
	background-color: #FFF;
}
.book_exhibition_item a {
	display: block;
	padding: .2rem;
}
.book_exhibition_item_img {
	float: left;
	margin-right: .18rem;
	width: 1.12rem;
	height: 1.48rem;
	border-radius: .02rem;
	box-shadow: 0 .03rem .08rem #888;
}
.book_exhibition_item_info {
	float: left;
	width: 4.7rem;
}
.book_exhibition_item_info_tit {
	line-height: .68rem;
	font-size: 18px;
	font-weight: bold;
	color: #1f2021;
}
.book_exhibition_item_info_cont {
	height: .72rem;
	line-height: .36rem;
	font-size: 14px;
	color: #808080;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.book_exhibition_item_icon {
	position: absolute;
	margin: .19rem 0 0 -.28rem;
	width: .28rem;
	height: .28rem;
	background: url(icons/details_content_item.png) no-repeat;
	background-size: contain;
}
.book_exhibition_item_serial {
	position: absolute;
	margin-left: -6rem;
	font-size: .32rem;
	line-height: 1.48rem;
	font-weight: bold;
	color: #a6b3c0;
}
.close_holder {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
}
/*可重用组件 end*/


body {
	margin: 0 auto;
	width: 6.4rem;
}
/*公共头部*/
.public_header {
	height: .88rem;
	text-align: center;
}
.public_header p {
	font-size: .3rem;
	line-height: .88rem;
	font-weight: bold;
	letter-spacing: .02rem;
	color: #1f2021;
}
.public_header_back,
.public_header_danmu,
.public_header_user {
	z-index: 1;
	position: absolute;
	width: .36rem;
	height: .36rem;
	border: transparent solid;
}
.public_header_back {
	margin-left: -3.2rem;
	margin-left: 0\0;
	border-width: .26rem .3rem;
	background: url(icons/public_header_back.png) no-repeat;
	background-size: contain;
}
.public_header_danmu {
	margin-left: 1.58rem;
	margin-left: 4.78rem\0;
	border-width: .26rem .15rem .26rem .32rem;
	background: url(icons/public_header_danmu_show.png) no-repeat;
	background-size: contain;
}
.header_danmu_close {
	background: url(icons/public_header_danmu_colse.png) no-repeat;
	background-size: contain;
}
.public_header_user {
	margin-left: 2.41rem;
	margin-left: 5.61rem\0;
	width: .32rem;
	height: .34rem;
	border-width: .27rem .32rem .27rem .15rem;
	background: url(icons/public_header_user.png) no-repeat;
	background-size: contain;
}
.public_header_subtitle {
	position: absolute;
	margin-top: -.12rem;
	width: 6.4rem;
	font-size: .18rem;
	color: #787c80;
}
/*公共头部 end*/

/*入口页相关*/
.more_button {
	display: block;
	margin: .26rem auto;
	width: 4.8rem;
	height: .64rem;
	font-size: 14px;
	line-height: .64rem;
	text-align: center;
	text-indent: .34rem;
	color: #FFF;
	background-color: #f8a624;
	border-radius: .06rem;
}
.more_button i {
	position: absolute;
	margin: .2rem 0 0 -.34rem;
	margin-left: 1.26rem\0;
	margin-right: .1rem;
	width: .24rem;
	height: .21rem;
	background: url(icons/more_button.png) no-repeat;
	background-size: contain;
}
/*入口页相关 end*/

/*推荐页相关*/
.recommend_hide {
	display: none;
}
.recommend_nav_wrap {
	width: 5.8rem;
	overflow: hidden;
}
.recommend_nav {
	padding: .25rem 0 .05rem 0;
	width: 6.4rem;
}
.recommend_nav_item {
	float: left;
	margin-right: .59rem;
	width: 1.54rem;
}
.recommend_nav_item a {
	display: block;
}
.recommend_nav_item a i {
	display: block;
	margin: 0 auto;
	width: .48rem;
	height: .48rem;
}
.recommend_nav_classify a i {
	background: url(icons/recommend_nav_classify.png) no-repeat;
	background-size: contain;
}
.recommend_nav_ranking a i {
	background: url(icons/recommend_nav_ranking.png) no-repeat;
	background-size: contain;
}
.recommend_nav_topic a i {
	background: url(icons/recommend_nav_topic.png) no-repeat;
	background-size: contain;
}
.recommend_nav_item a span {
	display: block;
	font-size: 16px;
	line-height: .62rem;
	text-align: center;
	color: #1f2021;
}
.recommend_search_input {
	width: 100%;
	height: .8rem;
	font-size: 16px;
	line-height: .8rem;
	text-indent: .36rem;
	color: #808080;
	cursor: text;
}
.recommend_search_icon {
	position: absolute;
	margin-top: .26rem;
	width: .26rem;
	height: .26rem;
	background: url(icons/recommend_search_icon.png) no-repeat;
	background-size: contain;
}
.recommend .module_tit {
	margin-bottom: -.3rem;
}
.recommend .guess_like_wrap {
	margin-top: .3rem;
}
/*推荐页相关 end*/

/*搜索模块*/
.search_module_bg {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 6.4rem;
	background-color: #f2f3f4;
}
.search_module {
	display: none;
	z-index: 1;
	position: absolute;
	top: 0;
	width: 6.4rem;
	overflow: hidden;
}
.search_module_bg_show,
.search_module_show {
	display: block;
}
.search_module .public_header {
	background-color: #FFF;
}
.search_module .container20 {
	background-color: transparent;
}
.search_module_cont_search_box {
	margin: .1rem 0 .3rem 0;
	width: 6rem;
}
.search_module_cont_search_box input {
	float: left;
	padding: 0 .2rem;
	width: 4.6rem;
	height: .64rem;
	font-size: 14px;
	line-height: .64rem;
	color: #1f2021;
	background-color: #FFF;
	border-top-left-radius: .05rem;
	border-bottom-left-radius: .05rem;
}
.search_module_cont_search_box button {
	float: left;
	width: 1rem;
	height: .64rem;
	background-color: #f8a624;
	border-top-right-radius: .05rem;
	border-bottom-right-radius: .05rem;
}
.search_module_cont_search_box button i {
	display: block;
	margin: 0 auto;
	width: .26rem;
	height: .26rem;
	background: url(icons/search_module_cont_search_box.png) no-repeat;
	background-size: contain;
}
.search_module_cont_search_tit {
	font-size: 16px;
	line-height: .63rem;
	letter-spacing: .01rem;
	color: #808080;
}
.search_module_cont_search_tit span {
	float: right;
	font-size: 12px;
	color: #f8a624;
	border-left: transparent solid .5rem;
}
.search_module_cont_search_label {
	margin-bottom: .36rem;
	width: 6.1rem;
}
.search_module_cont_search_label li {
	float: left;
}
.search_module_cont_search_label li a {
	display: block;
	margin: 0 .1rem .14rem 0;
	padding: 0 .22rem;
	font-size: 14px;
	line-height: .48rem;
	letter-spacing: .01rem;
	color: #4d4d4d;
	background-color: #FFF;
	border-radius: .05rem;
}
.search_module_cont_search_label .special a {
	color: #fe5a5a;
}
/*搜索模块 end*/

/*详情页相关*/
.details_cont {
	padding: .3rem 0;
}
.details_cont_img {
	float: left;
	margin-right: .2rem;
	width: 1.5rem;
	height: 2rem;
	border-radius: .06rem;
	box-shadow: 0 .03rem .08rem #888;
}
.details_cont_info {
	float: left;
}
.details_cont_info_detailed {
	width: 4.1rem;
	line-height: .38rem;
	font-size: 14px;
	color: #808080;
}
.details_cont_info_detailed span,
.details_cont_info_detailed em {
	color: #4c4c4c;
}
.details_cont_info_detailed strong {
	font-weight: normal;
	font-size: 12px;
	color: #bf955e;
}
.details_cont_info_detailed i {
	font-size: 12px;
}
.details_cont_info_label {
	width: 4.1rem;
	height: .48rem;
	overflow: hidden;
}







.details_cont_info_label em {
	float: left;
	margin: .12rem .16rem 0 0;
	padding: .04rem .08rem;
	/*height: .28rem;*/
	line-height: 1;
	font-size: 12px;
	color: #8092ad;
	border: #8092ad solid 1px;
	border-radius: .04rem;
}





.details_operating_wrap {
	padding: .3rem 0;
	width: 5.88rem;
	overflow: hidden;
}
.details_operating {
	width: 6.1rem;
}
.details_operating_item {
	float: left;
	margin-right: .2rem;
	width: 1.77rem;
	height: .5rem;
	font-size: 14px;
	text-align: center;
	color: #bf955e;
	border: #bf955e solid 1px;
	border-radius: .06rem;
}
.strat_listen {
	color: #FFF;
	background-color: #f8a624;
	border-color: transparent;
}
.details_operating_item a {
	display: block;
	height: 100%;
	line-height: .5rem;
}
.details_int_cont {
	max-height: 100%;
	font-size: 14px;
	line-height: .36rem;
	color: #4c4c4c;
	border-bottom: #FFF solid .24rem;
}
.int_omitted {
	height: 1.08rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.book_int_arrow,
.book_int_cont {
	transition: .3s;
}
.int_show .module_tit_icon_b {
	transform: rotate(180deg);
}
.int_show .details_int_cont {
	display: block;
}
.details_content {
	font-size: 16px;
	line-height: .79rem;
	color: #4c4c4c;
}
.details_content_item a {
	display: block;
	padding-right: .3rem;
	width: 5.5rem;
}
.details_content_item a i {
	position: absolute;
	margin: .26rem 0 0 5.52rem;
	width: .28rem;
	height: .28rem;
	background: url(icons/details_content_item.png) no-repeat;
	background-size: contain;
}
/*详情页相关 end*/

/*播放页相关*/
.play_cd {
	margin: 1.2rem auto 0 auto;
	padding: .15rem;
	width: 3.7rem;
	height: 3.7rem;
	background: url(cd-bg/play_cd.png) no-repeat;
	background-size: contain;
	border-radius: 50%;
	box-shadow: 0 .05rem .26rem #888;
}
.play_cd_img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
@keyframes CDrotate {
	to {transform: rotate(360deg);}
}
@-webkit-keyframes CDrotate {
	to {transform: rotate(360deg);}
}
.play_cd_rotate {
	animation: CDrotate 36s linear infinite;
	-webkit-animation: CDrotate 36s linear infinite;
}
.play_cd_pause {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
.play_controls {
	z-index: 1;
	position: fixed;
	bottom: .6rem;
	margin-left: .4rem;
}
.play_controls_progress_bar {
	margin: 0 auto;
	width: 5.6rem;
	height: .04rem;
	background-color: #e1e3e6;
	border-radius: .1rem;
}
.play_controls_progress_bar em {
	display: block;
	position: absolute;
	/*width 控制黄色进度条*/
	height: .04rem;
	background-color: #f8a624;
	border-radius: .1rem;
}
.play_controls_progress_bar i {
	display: block;
	position: relative;
	top: -.1rem;
	left: -.12rem;
	/*margin-left 控制进度钮*/
	width: .24rem;
	height: .24rem;
	background-color: #FFF;
	border-radius: 50%;
	box-shadow: 0 .02rem .1rem #888;
}
.play_controls_progress_time {
	margin: 0 auto;
	width: 5.6rem;
	font-size: 12px;
	line-height: .56rem;
	color: #969799;
}
.play_controls_progress_time_now,
.play_controls_operating_prev {
	float: left;
}
.play_controls_progress_time_altogether,
.play_controls_operating_next {
	float: right;
}
.play_controls_operating {
	z-index: 1;
	position: relative;
	margin: .22rem auto 0 auto;
	width: 3.64rem;
}
.play_controls_operating_start {
	margin-left: 1.32rem;
	width: 1rem;
	height: 1rem;
	background-color: #f8a624;
	border-radius: 50%;
}
.play_controls_operating_prev,
.play_controls_operating_next {
	margin-top: .14rem;
	width: .72rem;
	height: .72rem;
	background-color: #f8a624;
	border-radius: 50%;
}
.play_controls_operating_start i,
.play_controls_operating_pause i,
.play_controls_operating_prev i,
.play_controls_operating_next i {
	position: absolute;
	display: block;
}
.play_controls_operating_start i {
	margin: -.18rem 0 0 .41rem;
	width: .26rem;
	height: .36rem;
	background: url(icons/play_controls_operating_start.png) no-repeat;
	background-size: contain;
}
.play_controls_operating_pause i {
	margin-left: .35rem;
	width: .14rem;
	height: .36rem;
	background: none;
	border-left: #FFF solid .08rem;
	border-right: #FFF solid .08rem;
}
.play_controls_operating_prev i,
.play_controls_operating_next i {
	margin-top: -.09rem;
	width: .24rem;
	height: .18rem;
}
.play_controls_operating_prev i {
	margin-left: .22rem;
	background: url(icons/play_controls_operating_prev.png) no-repeat;
	background-size: contain;
}
.play_controls_operating_next i {
	margin-left: .26rem;
	background: url(icons/play_controls_operating_next.png) no-repeat;
	background-size: contain;
}
.play_controls_other {
	position: absolute;
	margin-top: -.86rem;
	width: 5.6rem;
}
.book_content {
	float: left;
	margin: -.03rem 0 0 -.25rem;
	width: .34rem;
	height: .28rem;
	background: url(icons/book_content.png) no-repeat;
}
.send_danmu {
	float: right;
	margin: -.05rem -.25rem 0 0;
	width: .34rem;
	height: .32rem;
	background: url(icons/send_danmu.png) no-repeat;
}
.book_content,
.send_danmu {
	border: transparent solid .25rem;
	background-size: contain;
}
.danmu_cont {
	z-index: 1;
	position: absolute;
	margin-top: .4rem;
	width: 6.4rem;
	height: 5.6rem;
	overflow: hidden;
}
.danmu_cont_item {
	position: absolute;
	padding: 0 .3rem;
	font-size: 16px;
	line-height: .6rem;
	white-space: nowrap;
	color: #FFF;
	background-color: rgba(90, 129, 255, .8);
	border-radius: .5rem;
	box-shadow: .01rem .01rem .1rem #888;
}
.danmu_cont_close {
	display: none;
}
.play_popup {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .66);
}
.play_popup_show {
	display: block;
}
.play_popup_list {
	display: none;
	position: absolute;
	left: 50%;
	bottom: -7.1rem;
	margin-left: -3.2rem;
	padding: .1rem .3rem 0 .3rem;
	width: 5.8rem;
	height: 7rem;
	background-color: #FFF;
	overflow-y: scroll;
	overflow-x: hidden;
}
@keyframes popupListShow {
	to {bottom: 0;}
}
@-webkit-keyframes popupListShow {
	to {bottom: 0;}
}
.play_popup_list_show {
	display: block;
	animation: popupListShow .3s;
	-webkit-animation: popupListShow .3s forwards;
}
.play_popup_list::-webkit-scrollbar {
	display: none;
}
.play_popup_list .module_tit {
	line-height: .6rem;
	font-weight: bold;
}
.play_popup_list .module_tit_remarks {
	font-weight: normal;
}
.play_popup_send {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 6rem;
	height: 2.4rem;
	background-color: #FFF;
	border-radius: .08rem;
}
.play_popup_send_show {
	display: block;
}
.play_popup_send_tit {
	font-size: .28rem;
	line-height: .64rem;
	text-align: center;
	letter-spacing: .02rem;
	color: #1f2021;
	background-color: #fafbfb;
	border-top-left-radius: .08rem;
	border-top-right-radius: .08rem;
}
.play_popup_send_input {
	padding: 0 .2rem .16rem .2rem;
	width: 5.6rem;
	height: .9rem;
	font-size: 14px;
	line-height: .6rem;
	color: #1f2021;
}
.play_popup_submit {
	width: 100%;
	line-height: .69rem;
	font-size: .26rem;
	letter-spacing: .01rem;
	color: #f8a624;
	background-color: transparent;
}
.play_popup_send_tit .module_tit_close {
	margin-top: 0;
	margin-left: 2.5rem;
	border-width: .22rem .28rem .22rem .5rem;
}
/*播放页相关 end*/

/*分类页相关*/
.classification_module {
	z-index: 1;
	position: relative;
	padding-left: .2rem;
	width: 6.2rem;
	background-color: #FFF;
	transition: height .3s;
	overflow: hidden;
}
.classification_module dl {
	margin-left: -.2rem;
	padding: .08rem 0;
}
.classification_module dl dt,
.classification_module dl dd {
	float: left;
	height: .54rem;
	line-height: .54rem;
	font-size: 16px;
}
.classification_module dl dt span,
.classification_module dl dd span {
	display: block;
}
.classification_module dl dt span {
	padding: 0 .2rem 0 .5rem;
	color: #f8a624;
}
.classification_module dl dd span {
	padding: 0 .2rem;
	color: #4d4d4d;
}
.classification_module_all dt span i {
	position: absolute;
	margin: .15rem 0 0 -.3rem;
	width: .2rem;
	height: .2rem;
	background: url(icons/classification_module_all.png) no-repeat;
	background-size: contain;
}
.classification_module_history dt span i {
	position: absolute;
	margin: .16rem 0 0 -.3rem;
	width: .22rem;
	height: .22rem;
	background: url(icons/classification_module_history.png) no-repeat;
	background-size: contain;
}
.classification_module_icon {
	display: none;
	position: absolute;
	margin-left: 5.42rem;
	width: .28rem;
	height: .28rem;
	background: url(icons/module_tit_icon_b.png) no-repeat;
	background-size: contain;
	border: transparent solid .2rem;
	border-left-width:.3rem;
}
.classification_module_fixed {
	position: fixed;
	top: 0;
	border-bottom: #e8eaeb solid 1px;
}
.classification_module_fixed dl {
	float: left;
	border: none;
}
.classification_module_fixed dl dd {
	display: none;
}
.classification_module_fixed .classification_module_icon {
	display: block;
}
.classification_module_fixed_arrow dl {
	float: none;
}
.classification_module_fixed_arrow dl dd {
	display: block;
}
.classification_module_fixed_arrow .classification_module_icon {
	display: none;
}
/*分类页相关 end*/

/*排行页相关*/
.ranking .book_exhibition_item a {
	margin-left: .6rem;
	padding-left: 0;
}
.ranking .book_exhibition_item_info {
	width: 4.3rem;
}
.ranking_first3_switch_wrap {
	margin: .2rem 0 0 .73rem;
	width: 4.52rem;
	border: #f8a624 solid 1px;
	border-radius: .06rem;
	overflow: hidden;
}
.ranking_first3_switch {
	width: 4.6rem;
}
.ranking_first3_switch a {
	float: left;
	border-right: #f8a624 solid 1px;
}
.ranking_first3_switch a button {
	width: 1.5rem;
	height: .46rem;
	font-size: .26rem;
	color: #f8a624;
	background-color: transparent;
}
.ranking_first3_switch_week {
	border-top-left-radius: .05rem;
	border-bottom-left-radius: .05rem;
}
.ranking_first3_switch_all {
	border-top-right-radius: .05rem;
	border-bottom-right-radius: .05rem;
}
.ranking_first3_switch .active {
	font-weight: bold;
}
.ranking_first3_switch .active button {
	color: #FFF;
	background-color: #f8a624;
}
.ranking_first3_shows {
	margin-top: .4rem;
	width: 6.2rem;
}
.ranking_first3_shows_item {
	float: left;
	margin-right: .2rem;
}
.ranking_first3_shows_item img {
	margin: 0 auto;
	border-radius: .05rem;
	box-shadow: 0 .03rem .08rem #888;
}
.ranking_first3_shows_item p {
	width: 100%;
	line-height: .6rem;
	text-align: center;
	color: #1f2021;
}
.ranking_first3_shows_1 {
	width: 2.12rem;
}
.ranking_first3_shows_2,
.ranking_first3_shows_3 {
	padding-top: .2rem;
	width: 1.74rem;
}
.ranking_first3_shows_1 img {
	width: 1.5rem;
	height: 2rem;
}
.ranking_first3_shows_2 img,
.ranking_first3_shows_3 img {
	width: 1.36rem;
	height: 1.80rem;
}
.ranking_first3_shows_1 p {
	font-size: 16px;
}
.ranking_first3_shows_2 p,
.ranking_first3_shows_3 p {
	font-size: 14px;
}
.ranking_first3_shows_1 em {
	margin-left: .31rem;
	background-color: #c8a960;
}
.ranking_first3_shows_2 em {
	margin-left: .19rem;
	background-color: #98afc1;
}
.ranking_first3_shows_3 em {
	margin-left: .19rem;
	background-color: #d89a93;
}
.ranking_first3_shows_1 .book_int_icon {
	margin: .7rem 0 0 .76rem;
}
.ranking_first3_shows_2 .book_int_icon,
.ranking_first3_shows_3 .book_int_icon {
	margin: .6rem 0 0 .57rem;
}
/*排行页相关 end*/

/*专题页相关*/
.ranking {
	font-size: 16px;
	color: #1f2021;
}
.ranking_banner {
	display: block;
}
.ranking_banner_img {
	width: 100%;
}
.ranking_banner_tit {
	padding: 0 .2rem;
	line-height: .68rem;
	text-align: center;
}
.ranking_list_item a {
	display: block;
	padding: .19rem 0;
}
.ranking_list_item_tit {
	float: left;
	width: 4.5rem;
	line-height: .8rem;
}
.ranking_list_item_img {
	float: right;
	width: 1.2rem;
	height: .8rem;
}
/*专题页相关 end*/

/*用户页相关*/
.user .public_header {
	height: 2.4rem;
	overflow: hidden;
}
.user .public_header .user_gbp {
	z-index: -1;
	position: absolute;
	width: 6.4rem;
	height: 2.4rem;
}
.user .public_header p {
	color: #FFF;
}
.user .public_header_back {
	background: url(icons/user_public_header_back.png) no-repeat;
	background-size: contain;
}
.user_balance {
	position: absolute;
	margin: -.74rem .6rem 0 .6rem;
	width: 5.2rem;
	height: 1.6rem;
	background-color: #FFF;
	border-radius: .11rem;
	box-shadow: 0 .06rem .2rem #BBB;
}
.user_avatar {
	position: absolute;
	margin: -.66rem 1.94rem 0 1.94rem;
	width: 1.24rem;
	height: 1.24rem;
	border: #FFF solid .04rem;
	border-radius: 50%;
}
.user_balance_info {
	margin: .96rem auto 0 auto;
	width: 2.7rem;
	height: .32rem;
	line-height: .32rem;
	letter-spacing: .01rem;
}
.user_balance_info_value {
	display: block;
	font-size: .32rem;
	font-weight: bold;
	text-align: center;
	color: #f98241;
}
.user_balance_info em,
.user_balance_info_recharge {
	position: absolute;
	width: 1.25rem;
	font-size: .22rem;
}
.user_balance_info em {
	margin-left: -1.25rem;
	text-align: right;
	color: #808080;
}
.user_balance_info_recharge {
	margin: -.3rem 0 0 2.4rem;
	padding: .3rem;
	padding-right: 0;
	text-indent: .32rem;
	color: #f8a624;
}
.user_balance_info_recharge i {
	display: block;
	position: absolute;
	margin: .09rem 0 0 .89rem;
	width: .06rem;
	height: .12rem;
	background: url(icons/user_balance_info_recharge.png) no-repeat;
	background-size: contain;
}
.user_entrance {
	margin-top: 1.26rem;
}
.user_entrance_item {
	display: block;
	padding-left: .66rem;
	height: .88rem;
	font-size: .26rem;
	line-height: .88rem;
	letter-spacing: .01rem;
	color: #1f2021;
}
.user_entrance_listen i {
	margin: .3rem 0 0 -.56rem;
	width: .36rem;
	height: .27rem;
	background: url(icons/user_entrance_listen.png) no-repeat;
}
.user_entrance_buy i {
	margin: .27rem 0 0 -.53rem;
	width: .28rem;
	height: .34rem;
	background: url(icons/user_entrance_buy.png) no-repeat;
}
.user_entrance_monthly i {
	margin: .27rem 0 0 -.54rem;
	width: .32rem;
	height: .32rem;
	background: url(icons/user_entrance_monthly.png) no-repeat;
}
.user_entrance_exchange i {
	margin: .25rem 0 0 -.57rem;
	width: .36rem;
	height: .36rem;
	background: url(icons/user_entrance_exchange.png) no-repeat;
}
.user_entrance_item em {
	margin: .38rem 0 0 4.98rem;
	width: .06rem;
	height: .12rem;
	background: url(icons/user_entrance_item.png) no-repeat;
}
.user_entrance_item i,
.user_entrance_item em {
	position: absolute;
	background-size: contain;
}
.user_sign_out {
	margin: 0 auto;
	width: 4.78rem;
	height: .68rem;
	font-size: .26rem;
	letter-spacing: .02rem;
	color: #fe5a5a;
	background-color:#FFF;
	border: #fe5a5a solid 1px;
	border-radius: .11rem;
}
/*用户页相关 end*/


/*不同dpr下字体大小处理*/
[data-dpr= "2"] .book_int_info_tit,
[data-dpr= "2"] .book_list_item_tit,
[data-dpr= "2"] .book_exhibition_item_info_tit {
	font-size: 36px;
}
[data-dpr= "3"] .book_int_info_tit,
[data-dpr= "3"] .book_list_item_tit,
[data-dpr= "3"] .book_exhibition_item_info_tit {
	font-size: 54px;
}
[data-dpr= "2"] .module_tit,
[data-dpr= "2"] .recommend_nav_item a span,
[data-dpr= "2"] .recommend_search_input,
[data-dpr= "2"] .details_content,
[data-dpr= "2"] .danmu_cont_item,
[data-dpr= "2"] .classification_module dl dt,
[data-dpr= "2"] .classification_module dl dd,
[data-dpr= "2"] .ranking_first3_shows_1 p,
[data-dpr= "2"] .ranking,
[data-dpr= "2"] .search_module_cont_search_tit {
	font-size: 32px;
}
[data-dpr= "3"] .module_tit,
[data-dpr= "3"] .recommend_nav_item a span,
[data-dpr= "3"] .recommend_search_input,
[data-dpr= "3"] .details_content,
[data-dpr= "3"] .danmu_cont_item,
[data-dpr= "3"] .classification_module dl dt,
[data-dpr= "3"] .classification_module dl dd,
[data-dpr= "3"] .ranking_first3_shows_1 p,
[data-dpr= "3"] .ranking,
[data-dpr= "3"] .search_module_cont_search_tit {
	font-size: 48px;
}
[data-dpr= "2"] .book_int_info_author,
[data-dpr= "2"] .book_int_info_brief,
[data-dpr= "2"] .book_list_item_brief,
[data-dpr= "2"] .guess_like_item_name,
[data-dpr= "2"] .more_button,
[data-dpr= "2"] .details_cont_info_detailed,
[data-dpr= "2"] .details_operating_item,
[data-dpr= "2"] .details_int_cont,
[data-dpr= "2"] .module_tit_remarks,
[data-dpr= "2"] .book_exhibition_item_info_cont,
[data-dpr= "2"] .ranking_first3_shows_2 p,
[data-dpr= "2"] .ranking_first3_shows_3 p,
[data-dpr= "2"] .search_module_cont_search_box input,
[data-dpr= "2"] .search_module_cont_search_label li a,
[data-dpr= "2"] .play_popup_send_input {
	font-size: 28px;
}
[data-dpr= "3"] .book_int_info_author,
[data-dpr= "3"] .book_int_info_brief,
[data-dpr= "3"] .book_list_item_brief,
[data-dpr= "3"] .guess_like_item_name,
[data-dpr= "3"] .more_button,
[data-dpr= "3"] .details_cont_info_detailed,
[data-dpr= "3"] .details_operating_item,
[data-dpr= "3"] .details_int_cont,
[data-dpr= "3"] .module_tit_remarks,
[data-dpr= "3"] .book_exhibition_item_info_cont,
[data-dpr= "3"] .ranking_first3_shows_2 p,
[data-dpr= "3"] .ranking_first3_shows_3 p,
[data-dpr= "3"] .search_module_cont_search_box input,
[data-dpr= "3"] .search_module_cont_search_label li a,
[data-dpr= "3"] .play_popup_send_input {
	font-size: 42px;
}
[data-dpr= "2"] .details_cont_info_detailed strong,
[data-dpr= "2"] .details_cont_info_detailed i,
[data-dpr= "2"] .details_cont_info_label em,
[data-dpr= "2"] .play_controls_progress_time,
[data-dpr= "2"] .search_module_cont_search_tit span {
	font-size: 24px;
}
[data-dpr= "3"] .details_cont_info_detailed strong,
[data-dpr= "3"] .details_cont_info_detailed i,
[data-dpr= "3"] .details_cont_info_label em,
[data-dpr= "3"] .play_controls_progress_time,
[data-dpr= "3"] .search_module_cont_search_tit span {
	font-size: 36px;
}
@media screen and (min-width: 640px) {
	.book_int_info_tit,
	.book_list_item_tit,
	.book_exhibition_item_info_tit {
		font-size: 19px;
	}
	.module_tit,
	.recommend_nav_item a span,
	.recommend_search_input,
	.details_content,
	.danmu_cont_item,
	.classification_module dl dt,
	.classification_module dl dd,
	.ranking_first3_shows_1 p,
	.ranking,
	.search_module_cont_search_tit {
		font-size: 17px;
	}
	.book_int_info_author,
	.book_int_info_brief,
	.book_list_item_brief,
	.guess_like_item_name,
	.more_button,
	.details_cont_info_detailed,
	.details_int_cont,
	.details_operating_item,
	.module_tit_remarks,
	.book_exhibition_item_info_cont,
	.ranking_first3_shows_2 p,
	.ranking_first3_shows_3 p,
	.search_module_cont_search_box input,
	.search_module_cont_search_label li a,
	.play_popup_send_input {
		font-size: 15px;
	}
	.details_cont_info_detailed strong,
	.details_cont_info_detailed i,
	.details_cont_info_label em,
	.play_controls_progress_time,
	.search_module_cont_search_tit span {
		font-size: 13px;
	}
}
/*不同dpr下字体大小处理 end*/

/*不同dpr下边框粗细处理*/
[data-dpr= "2"] .bb_f2,
[data-dpr= "2"] .bb_e8,
[data-dpr= "2"] .details_cont_info_label em,
[data-dpr= "2"] .details_operating_item,
[data-dpr= "2"] .classification_module_fixed,
[data-dpr= "2"] .ranking_first3_switch_wrap,
[data-dpr= "2"] .ranking_first3_switch a,
[data-dpr= "2"] .user_sign_out {
	border-width: 2px;
}
[data-dpr= "3"] .bb_f2,
[data-dpr= "3"] .bb_e8,
[data-dpr= "3"] .details_cont_info_label em,
[data-dpr= "3"] .details_operating_item,
[data-dpr= "3"] .classification_module_fixed,
[data-dpr= "3"] .ranking_first3_switch_wrap,
[data-dpr= "3"] .ranking_first3_switch a,
[data-dpr= "3"] .user_sign_out {
	border-width: 3px;
}
/*不同dpr下边框粗细处理 end*/

/*单行省略*/
.book_int_info_author,
.book_list_item_brief,
.guess_like_item_name,
.book_exhibition_item_info_tit,
.details_cont_info_detailed,
.details_content_item a,
.ranking_first3_shows_item p,
.ranking_banner_tit,
.ranking_list_item_tit,
.user_balance_info span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*单行省略 end*/
